@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root{
  --text-color: #fff;
  --bg-color:#111319;
  --primary-color:#007bff;
  --secondary-color:#1a1c22;
  --nav-color:linear-gradient(0deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.75) 100%);
  --test:#2a2d38;
}
html[data-color-mode="light"]{
  --text-color: #000;
  --bg-color:#fff;
  --primary-color:#F3E5AB;
  --secondary-color:#ddd;
  --nav-color:linear-gradient(0deg, rgba(225, 225, 225, 0) 0%, rgba(225, 225, 225, 0.75) 100%);
}
*{
  box-sizing: border-box;
  font-family: Poppins,sans-serif;
}
::-moz-selection {
  background-color: var(--primary-color);
  color: #111319
}
::selection {
  background-color: var(--primary-color);
  color: #111319
}
body{
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none
}
 
/* Navbar */
nav{
  margin: 15px 30px 15px 30px;
  border-radius: 10px;
  color: var(--text-color);
}
a{
  color: var(--text-color);
  text-decoration: none;
}
.container{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.container-fluid{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.container-navbar{
  display: flex;
  justify-content: space-around;
}
.content-left{
  display: flex;
  gap:20px;
}
.content-right{
  display: flex;
  gap:20px;
}
i{
  padding: 0px 8px 0px 0px;
}
.content-left .nav-side{
  padding: 5px 5px 10px 5px;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.content-left .nav-side:hover::after{
  content: '';
  display: block;
  color: var(--primary-color);
  border-bottom: 2px solid #fff;
  margin: auto;
  padding-bottom: 16px;
  margin-bottom: -18px;
}
.content-left .active{
  content: '';
  display: block;
  color: var(--primary-color);
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  margin-bottom: -7px;
}
.content-right .search{
  max-width:300px;
  border-radius:50px;
  padding:4px 20px;
  background-color: #232323;
  color:#000;
  border:1.5px solid #232323;
  transition: all 0.5s ease-out;
}
.content-right .search:focus{
  outline: none;
  background-color: #fff;
  border:1.5px solid var(--primary-color);
}
.content-right .circle{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.content-right .circle:hover{
  background: rgba(225,225,225,0.5);
}
.content-right .circle .user-svg{
  width: 30px;
  height: 30px;
}
.content-right .circle .globe-svg{
  width: 25px;
  height: 25px;
}
.content-right .dropdown{
  margin: 5px 0px 0px 0px;
  color:var(--text-color);
}
.datalist{
  display:none;
  cursor: pointer;
  position: relative;
}
.datalist ul{
  list-style: none;
}
.datalist ul li{
  padding: 5px 5px 5px 0px;
}
.search:focus + .datalist,.datalist:hover{
  display: block;
  position: absolute;
  top:50px;
  width: 230px;
  height: auto;
  margin: 0px 0px 0px 20px;
  background-color: var(--secondary-color);
  padding:10px;
  border-radius:10px;
}

/* Carousel Bootstrap */
.container-carousel{
  margin:0px 30px 30px 30px;
}
.carousel-item img{
  width: 100%;
  height: 82vh;
  border-radius: 20px;
  background-size: contain;
}
.carousel-caption{
   transform: translate(-70px, -110px);
   text-align: center;
   width: 430px;
   font-size: 14px;
   font-weight: 300;
}
.carousel-prev ,.carousel-next:hover{
  color:var(--primary-color);
}
.carousel-caption .bi-play-fill{
  padding: 0;
}
/* Owl Carousel CSS */
.container-owl-carousel img#rak1{
  position:absolute;
  z-index: 1;
  margin: auto;
  width: auto;
}
.title-role .navbar-brand{
  color:#000000;
}
.navbar-carousel .title-role {
  color:var(--text-color);
  z-index: 2;
}
/* Card CSS */
.book{
  width: 150px;
  height: 250px;
  background: rgba(255, 0, 0, 0);
  transition: all 0.2s ease-out;
  overflow-y: hidden;
  padding-top: 15px;
}
.book img{
  background-size: contain;
  width: 100%;
  height:225px;
  border-radius: 3px;
  border: 0;
  transition: all 0.2s ease-out;
}
.book p{
  text-align:center;
  color:var(--text-color);
  font-weight: 300;
  word-wrap: break-word;
}

/* Footer */
.col-md-8{
  flex: 0 0 auto;
  width: 100%;
}
footer{
  color: var(--text-color);
  background-color: var(--bg-color);
  text-align: center;
  padding: 80px 30px 30px 30px;
}
  /* Footer */
  footer{
    text-align: center;
  }
